

.hide{
    display:none;
}

.btn-right{
    float: right;
}

.left3{
    width: 23%;
    height: 86%;
    float: left;
    border-right:2px solid #eee;
    overflow-y:auto;
}
.right7{
    width: 75%;
    height: 86%;
    float: right;
    overflow-y:auto;
}
.left99{
    width: 99%;
    height: 100%;
}
.url-innput{
    width: 40%;
}
.key-innput{
    width: 20%;
}
.value-innput{
    width: 40%;
}